* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Clash Display', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 100%;
    outline: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: rgb(5, 9, 130);
    background: linear-gradient(0deg, rgba(5, 9, 130, 1) 13%, rgba(20, 88, 222, 1) 59%, rgba(20, 120, 222, 1) 80%);
}

ul,
ol {
    list-style: none;
}

/* cabeçalho */

header {
    padding: 20px 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 90px;
}

header:before {
    content: "";
    width: 100%;
    z-index: -1;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* navbar */

header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
}

header nav li a {
    color: #fff;
    display: block;
    position: relative;
    padding: 20px 20px 10px;
}

header nav li a:before,
header nav li a:after {
    content: "";
    bottom: 0;
    width: 0px;
    height: 2px;
    display: block;
    position: absolute;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header nav li a:before {
    right: 50%;
}

header nav li a:after {
    left: 50%;
}

header nav li a:hover:before,
header nav li a:hover:after {
    width: 50%;
}

/* Início */

.title h1 {
    font-size: 48px;
    margin: 65px;
    text-align: center;
}

.title p {
    font-size: 24px;
    margin: 70px;
    text-align: center;
    font-weight: 200;
}

/* botão test drive */

.button {
    border: solid 0.1px #fff;
    padding: 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    margin: auto;
}

.button:hover{
    cursor: pointer;
    background-color: #050982;
}



.carro {
    display: flex;
    flex-direction: column;
}

.carro img{
    width: 100%;
}

/* Introdução cards */

.descubra h1 {
    padding: 0;
    font-size: 40px;
    margin: 65px;
    text-align: center;
}

.descubra p {
    font-size: 24px;
    margin: 70px;
    text-align: center;
    font-weight: 200;
}

/* cards */
.container_card {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 52px;
}

.cardss {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.cards {
    width: 300px;
    display: flex;
    padding: 1rem;
    margin-bottom: 2rem;

    .card-item {
        border: solid 1.5px #fff;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        border-radius: 6px;
        box-shadow: 0 20px 40px -14px rgba(255, 255, 255, 0.315);
        overflow: hidden;
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            -webkit-transform: scale(1.1);

            .card-image {
                opacity: 1;
            }
        }
    }

    .card-info {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 1rem;
        line-height: 1.5em;
    }

    .card-title {
        font-size: 25px;
        line-height: 1.1em;
        color: #ffffff;
        margin-bottom: 0.2em;
    }

    .card-image {
        height: 200px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 6px 6px 0px 0px;
        opacity: 0.91;
    }
}

.carro2{
    width: 100%;
}