* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Clash Display', sans-serif;
    color: #FFFFFF;
    ;
}

body {
    background: rgb(5, 9, 130);
    background: linear-gradient(0deg, rgba(5, 9, 130, 1) 13%, rgba(20, 88, 222, 1) 59%, rgba(20, 120, 222, 1) 80%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* Exibir os itens em linha */
}

.links li {
    margin-right: 20px;
    /* Espaçamento entre os itens */
}

.links li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.links li a:hover {
    color: black;
}

